
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error</title>
</head>
<body>
    <img src="https://support.start.me/hc/article_attachments/360001139105/404_page_not_found.jpeg" alt="" />
</body>
</html>
